@font-face {
    font-family: ReadexPro;
    src: url('../ReadexPro-Light.ttf');
}


.headerClothingGlobal{

    text-align: left;
    font-family: ReadexPro;
    font-size: 2.5em;
}

.headerWhitespaceClothingGlobal{
    padding-top: 1em;
    padding-bottom: 1em;
}