.text { 
    font-weight: bold;
    font-size: 2em;
    color: #dc3545;
}

.show{
    border: 10px black !important;
}

.dropdown-menu{
    background-color: rgb(70, 0, 0) !important;
    

}

#nav{
    padding-bottom: 1em;
    background-color: rgb(70, 0, 0) !important;
    color: white !important;
}

#nav .dropdown-item {
    color: white;
    background-color: rgb(70, 0, 0) !important;
}

.nav-link{
    color: white;
    background-color: rgb(70, 0, 0) !important;
}

#logo{
    width: 3.5em;
    height: auto;
    padding-left: 1em;
}